<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>controller.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterChecker</servlet-name>
        <servlet-class>controller.RegisterChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginChecker</servlet-name>
        <servlet-class>controller.AdminLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacRegisterChecker</servlet-name>
        <servlet-class>controller.FacRegisterChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubAllot</servlet-name>
        <servlet-class>controller.SubAllot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/LoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterChecker</servlet-name>
        <url-pattern>/RegisterChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginChecker</servlet-name>
        <url-pattern>/AdminLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacRegisterChecker</servlet-name>
        <url-pattern>/FacRegisterChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubAllot</servlet-name>
        <url-pattern>/SubAllot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
